{"openapi":"3.0.0","info":{"title":"TravClan Hotels Partner APIs","version":"1.0.0"},"servers":[{"url":"https://hotel-api-sandbox.travclan.com"}],"paths":{"/api/v1/locations/search/":{"get":{"tags":["default"],"summary":"Hotel/City Auto Suggest","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"},{"name":"searchString","in":"query","schema":{"type":"string"},"example":"goa"},{"name":"test-header","in":"header","required":false,"description":"","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v2/hotels/search":{"post":{"tags":["default"],"summary":"Search Hotels","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"checkIn":"2024-10-20","checkOut":"2024-10-22","filterBy":{"freeBreakfast":false,"isRefundable":false,"subLocationIds":null,"ratings":null,"facilities":null,"type":null,"tags":null,"reviewRatings":null},"nationality":"IN","occupancies":[{"numOfAdults":2,"childAges":[]}],"hotelId":null,"locationId":328959,"page":1,"traceId":null}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/locations/328959":{"get":{"tags":["default"],"summary":"Get Sub-locations","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"},{"name":"getSublocations","in":"query","schema":{"type":"boolean"},"example":"true"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/39748312/static-content":{"get":{"tags":["default"],"summary":"Hotel Static Content","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries":{"post":{"tags":["default"],"summary":"Create Itinerary - Ad-hoc","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"hotelId":"38906780","checkIn":"2024-09-20","checkOut":"2024-09-22","occupancies":[{"numOfAdults":2}],"nationality":"IN"}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v2/hotels/itineraries":{"post":{"tags":["default"],"summary":"Create Itinerary - Sequential","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"traceId":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c","hotelId":"39748312"}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries/itrf0mc/select-roomrates":{"post":{"tags":["default"],"summary":"Room Rates Selection","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"roomsAndRateAllocations":[{"rateId":"120fef00-790e-4ffa-b826-c345e2b44209","roomId":"23946e68-6856-41ea-b0b2-963ccccf59a9","occupancy":{"adults":2}}],"traceId":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c","recommendationId":"f8df8370-8b92-40ca-b0f1-1d9ef7be682a","items":[{"code":"itmf0m8","type":"HOTEL"}]}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries/itrf0mc/rooms-allocations":{"post":{"tags":["default"],"summary":"Guest - Room Allocation","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"traceId":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c","roomsAllocations":[{"rateId":"120fef00-790e-4ffa-b826-c345e2b44209","roomId":"23946e68-6856-41ea-b0b2-963ccccf59a9","guests":[{"title":"Mr","firstName":"FirstName","lastName":"LastName","isLeadGuest":true,"type":"adult","email":"testmail@xyz.com","isdCode":"91","contactNumber":"1234567890","panCardNumber":null,"passportNumber":null,"passportExpiry":null}]}],"specialRequests":null}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries/itrf0mc/":{"get":{"tags":["default"],"summary":"Get Itinerary Details","parameters":[{"name":"authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"},{"name":"traceId","in":"query","schema":{"type":"string"},"example":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c"},{"name":"guestRules","in":"query","schema":{"type":"boolean"},"example":"true"},{"name":"searchRequestLog","in":"query","schema":{"type":"boolean"},"example":"true"},{"name":"staticContent","in":"query","schema":{"type":"boolean"},"example":"true"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries/itrf0mc/book":{"post":{"tags":["default"],"summary":"Book Hotel","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"traceId":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c"}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/api/v1/hotels/itineraries/itrf0mc/check-price/":{"get":{"tags":["default"],"summary":"Check-Price","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"Bearer eyJraWQiOiJ2dXd6Z252U2RuRG5MeEhTRjF4XC9DZzhjQUg4VDhyVVdPalBvWG5BSDZ4UT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhODBjMzg0ZS1lZmIwLTQ4N2ItYmE1My03ZGQyNzI4YTc3NDYiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xXzR1VlNnS2s2VSIsImNsaWVudF9pZCI6IjlqNzBlcjhjZG03bWRxN2xycnJva2ZmcG8iLCJvcmlnaW5fanRpIjoiMDczMjcyOTItZDJkZC00YzFhLTkxYTgtMjI3NTI1NzNhMWM3IiwiZXZlbnRfaWQiOiIyZTAyMDZjZS01MDA1LTRjOTctOTgwNS1jYzBiYTE4NDAwYWUiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzI0MjIwNTA2LCJleHAiOjE3MjQzMDY5MDYsImlhdCI6MTcyNDIyMDUwNiwianRpIjoiOWRjZTdkZjMtZGU3Yi00MGExLTg5NjYtYTFhZGE3MGZiZjBiIiwidXNlcm5hbWUiOiJjZTYwZDc4MTYifQ.HrXEucChHiZ6rrT9ftq7Q2bZZmHaFUMaB5MWwUYBOpQw0nTiCuc-7R-8ZNNU1z6MmMoNq2aS7hJjCLP_czd0Cows4N4WG0pI1LEI90g8s1dZbyJVSr2nvBJKBDU2rNG87dH6TQE1bPnLFRo4z-_lK_1hBhA1FKkr8ERqHqV8dIiuj7hDkaTJp_jPyUHj9s40P_iewRaHvfZw8GPe42y4U3mpeyUTd4va8dHCdwd9HWswt1g5JFTHrdGeTNriqPWhpqtFI-Sc2v55JhUs0Ucs1F2_yXyzKTOOPu8zVStxWko0nwQJSphFH4p8HHMO2UM4aKpxioFJIcOj1_9oCKiyiA"},{"name":"source","in":"header","schema":{"type":"string"},"example":"website"},{"name":"Authorization-Type","in":"header","schema":{"type":"string"},"example":"external-service"},{"name":"traceId","in":"query","schema":{"type":"string"},"example":"1f3f40c6-6f14-4ff2-8271-1a32a40a6f2c"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}}}}